.search {
  width: 100%;
}

.search__input {
  width: 100%;
  padding: 2rem 1.5rem;

  border: 0;
  font-size: 1.8rem;

  //background-image: url('magnifier.svg');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position-x: 1.5rem;
  background-position-y: center;
  text-indent: 3rem;
}
