.currency-sign {
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--font-color);
  font-weight: bold;
  font-size: 1.4rem;
}
