.currency-label {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px 7px;

  border-radius: 4px;
  border: none;

  background-color: var(--currency-label-bg-color);

  cursor: pointer;

  &:hover {
    background-color: var(--button-primary-inactive-bg-color);
  }
}

.currency-label__name {
  font-weight: 700;
  margin: 2px 7px 0;
  font-size: 1.8rem;
  line-height: 1.4rem;
}

.currency-label__arrow {
  min-width: 2rem;
}
